.fadeOut{
    opacity:0;
    /*width:0;*/
    height: 0;
    transition: width 0.5s 0.5s, height 0.1s 0.1s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    /*width:100px;*/
    height: 100%;
    transition: width 0.5s, height 0.1s, opacity 0.3s 0.3s;
}